doctype html
html(lang="es")
	head
		title Ionic App template
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// build:css css/libs.min.css 
		// bower:css
		// endbower
		//endbuild

	body
		
		//- IMPORTA LIBRERIAS
		// build:js js/libs.min.js
		// bower:js
		// endbower
		// endbuild
