doctype html
html(lang="es" ng-app="optikApp")
	head
		title OptikIonic
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//build:css css/libs.min.css 
		// bower:css
		// endbower
		//endbuild

	body(controller="mainController")
		ion-side-menus
			ion-side-menu(side="left")
				ion-header-bar
					h1.title Optik v0.0.1
				ion-content
					ion-list
						ion-item.item-icon-left(ui-sref="dashboard")
							i.icon.ion-home.calm
							| Página principal
						ion-item.item-icon-left(ui-sref="listado")
							i.icon.ion-person.calm
							| Lista de Clientes
						ion-item.item-icon-left(ui-sref="dataUpload") 
							i.icon.ion-ios-cloud-upload-outline.calm
							| Importar archivo de datos
			ion-side-menu-content(drag-content="true" edge-drag-threshold="true")
				div(ui-view)
		//- IMPORTA LIBRERIAS
		//build:js js/libs.min.js
		// bower:js
		// endbower
		//- APP INCLUDES
		script(src="app.js")
		script(src="router.js")
		script(src="services/dataFactory.js")
		script(src="dashboard/dashboardController.js")
		script(src="listado/listadoController.js")
		//endbuild
