// main app window
// muestra cards con resúmenes de datos
ion-header-bar.bar-positive(align-title="centre")
	.buttons
		button.button.button-icon.icon.ion-navicon(menu-toggle="left")
	h1.title Optik
	.buttons
		button.button Login
ion-content
	h1 lalalala